td {
  padding: 0px 0px;
}

tr {
  height: 75px;
}

img {
  display: block;
  width: 60px;
}

table {
  table-layout: fixed;
  border-spacing: 0px;
}

thead {
  height: 40px;
}

.score{
  font-size: large;
  color: gold;
  height: 40px;
  width: 120px;
  background-color: rgba(24, 185, 191, 0.78);
}
